<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gkv.newbie"
    tools:ignore="LockedOrientationActivity">

    <application
        android:allowBackup="true"
        android:icon="@drawable/newbie"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/newbie"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".app.auth.CheatLoginActivity"></activity>
        <activity android:name=".app.home.sections.process.CreateActionActivity" />
        <activity android:name=".app.home.sections.process.CreateStepActivity" />
        <activity android:name=".app.home.sections.process.CreateProcessActivity" />
        <activity android:name=".app.home.sections.procedure.ShareProcedureActivity" />
        <activity android:name=".app.home.sections.procedure.ProcedureProcessActivity" />
        <activity android:name=".app.home.sections.procedure.CreateProcedureActivity" />
        <activity android:name=".app.home.sections.user.FavouriteUserListActivity" />
        <activity android:name=".app.home.sections.user.SearchUserActivity" />
        <activity android:name=".app.home.sections.user.UpdateUserActivity" />
        <activity android:name=".app.home.sections.user.ViewUserActivity" />
        <activity
            android:name=".app.home.BaseNavigationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".app.auth.PostLoginActivity" />
        <activity android:name=".app.auth.LoginActivity" />
        <activity
            android:name=".app.home.sections.procedure.ProcedureGroupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PermissionCheckActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.home.sections.process.ProcessInstructionsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>